.box {
  height: 50px;
  width: 100%;
  background-color: red;
  border: 5px solid blue;
}

.flex-container {
  background-color: green;
  border: 5px dashed brown;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  align-items: center;
}

.box:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-container {
  background-color: green;
  border: 5px dashed brown;
  height: 500px;
  display: grid;
  /* grid-template-columns: 100px 100px 100px; */
  /* grid-template-columns: 2fr 3fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
}

/* .grid-container .box:first-child {
  grid-column: 1/3;
  grid-row: 2 / 4;
} */
